//提供全局scss全局变量
$color: red;
$base-menu-width: 260px;
$base-menu-background-color: #001529;
$base-tabbar-height: 50px;
$base-tabbar-background-color: cyan;
$base-content-background-color: white;
$base-menu-fold-width: 50px;
